body,
html {
    height: 80%;
}

.nav-categorias {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 20%;
    margin-top: 2%;
}

.container-produtos {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.produtos {

    background-color: aliceblue;
    margin: 1.5% 1%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    
    width: 200px;
    height: 200px;

}

.container-shop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    
}

@media(max-width: 768px) {
    .container-shop {
        flex-direction: column;
    }
}

.bloco {
    text-align: center;
}

.img-agenda img{
    min-width: 50px;
    width: 50px;
    margin-right: 3%;
}

.img-agenda-site img{
    min-width: 50px;
    width: 70px;
    margin-right: 1%;
}

.img-agenda-site, .img-agenda{
    background-color: #F3A87D !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}